<p id="notice"><%= notice %></p>

<p>
  <b>Production:</b>
  <%= @storyboard.production_id %>
</p>


<%= link_to 'Edit', edit_storyboard_path(@storyboard) %> |
<%= link_to 'Back', storyboards_path %>
